/* Scrollbar width */
::-webkit-scrollbar {
  width: 7px;
}




/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d5e495;
}
/* Tailwind classes for dark mode */
body.dark {
  background-color: #1a202c; /* Dark background */
  color: #f7fafc; /* Light text */
}

body.dark a {
  color: #f7fafc; /* Light text for links */
}

/* For links with active state */
body.dark .active {
  color: #c5d86d; /* Highlight active link in dark mode */
}
.scrollable-sidebar {
  height: 300px; /* Set your desired height */
  overflow-y: auto; /* Enables vertical scrolling */
  padding-right: 10px; /* Prevents content from hiding under the scrollbar */
}

.scrollable-sidebar::-webkit-scrollbar {
  width: 8px;
}

.scrollable-sidebar::-webkit-scrollbar-thumb {
  background-color: #c5d86d; /* Color of the scrollbar */
  border-radius: 10px;
}
